@page "/logincontrol"
@using System.Web;

<AuthorizeView>
    <Authorized>
        <b>Hello, @context.User.Identity.Name!</b>
        <a class="ml-auto btn btn-primary" 
        href="/logout?returnUrl=/"
        target="_top">Logout</a>
    </Authorized>
</AuthorizeView>