@page "/forgot-password"
@layout WebLayout;
@inject IUserService _userService;
@inject IToastService _toastSvc;

<section class="pass_recover_area section--padding2">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 offset-lg-3" style="margin-bottom: 30px;">
                <div>
                    <input name="__RequestVerificationToken" type="hidden" value="UU7nxpCcWO2XzGz7IfOQSbE_Mqkte0Jw6HClMz2dZ20OXPqRrpgT06oxCOWIqqFVcdCbTirYnfAjpWlpzN7_IqZ22JAFX_HNwK88qZEWrNQ1">
                    <div class="cardify recover_pass">
                        <div class="login--header">
                            <p>
                                Nhập email mà bạn đã đăng ký trước đây và bấm khôi phục. Bạn sẽ nhận được 1 email bao gồm tên đăng nhập và 1 đường link
                                để đặt mật khẩu mới cho tài khoản của bạn. Ai quên tên đăng nhập cũng có thể dùng chức năng này để lấy lại tên đăng nhập
                            </p>
                        </div>
                        <div class="login--form">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input @bind="@email" id="email" type="email" class="text_field" placeholder="Nhập email mà bạn dùng đã dùng để đăng ký" name="email" required="" autofocus="">
                            </div>

                            <button @onclick="()=>HandleSumbit()" class="btn btn--xs register_btn" style="margin-top:30px" disabled="@isLoading">
                                @if (isLoading)
                                {
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                }Khôi phục
                            </button>
                            <div class="login_assist">
                                <p>
                                    Bạn đã có tài khoản thành viên ?
                                    <a href="/login">Đăng nhập</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
@code {

    public string email { get; set; }
    public bool isLoading { get; set; }
    public async Task HandleSumbit()
    {
        isLoading = true;
        if (string.IsNullOrEmpty(email))
        {
            _toastSvc.ShowWarning("Chưa nhập email !");
            isLoading = false;
            return;
        }
        var res = await _userService.ResetPassword(email.ToString());


        string apiResponse = await res.Content.ReadAsStringAsync();
        var problems = Newtonsoft.Json.JsonConvert.DeserializeObject<ApiProblemModel>(apiResponse);
        switch (res.StatusCode)
        {
            case System.Net.HttpStatusCode.OK:
                foreach (var item in problems.Message.ToList())
                {
                    _toastSvc.ShowSuccess(item.ToString());
                }
                //_toastSvc.ShowSuccess($"Đã gửi link đặt lại mật khẩu !");
                break;
            default:
                foreach (var item in problems.Message.ToList())
                {
                    _toastSvc.ShowError(item.ToString());
                }
                break;
        }
        isLoading = false;
    }
    [Inject] IJSRuntime JSRuntime { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("setTitle", $"Quên mật khẩu | Web bán thức ăn"); ;
    }
}
