<div id="app">
    <div class="vh-100 d-flex align-items-center justify-content-center gap-3">
        <div class="h5 spinner-border"></div>
        <div class="h2" style="padding-left:10px">Please wait</div>
    </div>
</div>