@inherits LayoutComponentBase
@layout WebLayout
    <section class="four_o_four_area section--padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    @*<img src="css/Assets/Imgs/svg/404.png" alt="404">*@
                    <div class="not_found">
                        <h3>Không tìm thấy trang</h3>
                        <h4></h4>
                        <a href="/" class="btn btn--xs btn--default">Trở về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>