<section class="dashboard-area">
    <div class="dashboard_menu_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="dashboard_menu">
                        <li>
                            <a href="/user/profile">
                                <span class="fal fa-user"></span>Hồ sơ
                            </a>
                        </li>
                        <li>
                            <a href="/user/setting">
                                <span class="fal fa-cog"></span>Cài đặt
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>