@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider auth
<body class="preload">
    <TopSideNav></TopSideNav>
    <div class="menu-area">
        <div class="mainmenu" style="background:var(--menu); position:relative">
            <div class="container clearfix" style="position:relative">
                <div id="top-search" style="display:none">
                    <a id="CloseTopSearch" href="#" onclick="CloseSearchBtn_Click(event)" data-cf-modified-9f3c2959f0977397d2b413b8-="">
                        <i class="fal fa-times"></i>
                    </a>
                    <form method="get" action="https:// .net/search" target="_blank">
                        <input id="seach_txt" type="text" name="k" class="form-control" value="" placeholder="Nhập ít nhất 3 ký tự" autocomplete="off">
                    </form>
                </div>
                <div id="mainmenu" class="row">
                    <div class="col-md-3 d-none d-md-block" id="pclogo">
                        <div class="logo" style="padding:16px 0">
                            <a href="/" title="Logo">
                                <img src="Assets/Imgs/Logo/" alt="Logo" title="  Logo" class="img-fluid" width="399" height="50">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="navbar-header">
                            <div class="mainmenu__search">
                                <div class="searc-wrap">
                                    <button class="search-wrap__btn" style="position:unset" onclick="SearchBtn_Click(event)" data-cf-modified-9f3c2959f0977397d2b413b8-="">
                                        <span class="fal fa-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <nav class="navbar navbar-expand-md navbar-light mainmenu__menu">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="has_dropdown">
                                        <a href="/">Trang chủ</a>

                                    </li>
                                    <li class="has_dropdown">
                                        <a href="/product" title="Tổng hợp các phần mềm hay">Sản phẩm</a>
                                        @*<div class="dropdowns dropdown--menu">
                                        <ul>
                                        <li>
                                        <a href="system-software/index2679.html?page=1" title="Tổng hợp các phần mềm hệ thống - bảo mật">Hệ Thống - Bảo Mật</a>
                                        </li>
                                        <li>
                                        <a href="office-software/index2679.html?page=1" title="Tổng hợp các phần mềm văn ph&#242;ng">Văn ph&#242;ng</a>
                                        </li>
                                        </ul>
                                        </div>*@
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .avp-p-wrapper {
            width: 380px !important
        }

        .closableContainer {
            border-radius: 0px 8px 0px 0px !important;
            left: 0 !important;
        }
    </style>
    <style>
        .news {
            box-shadow: none
        }
    </style>
    <Breadcrumb Links="@breadcrumbLinks" />
    <div class="body">
        @Body
    </div>


    <footer class="footer-area">
        <div class="footer-big section--padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info-footer" style="max-width:80%">
                            <div class="info__logo">
                                <a href="/" title="  Footer Logo">
                                    <img id="adsqc" src="Assets/Imgs/Logo/" alt="  Footer Logo" title="  Footer Logo" class="img-fluid" width="399" height="50">
                                </a>
                            </div>
                            <p class="info--text"> Cộng đồng chia sẻ nội dung, kiến thức hữu ích về công nghệ và giải trí. </p>
                        </div>
                        <div class="info-footer">
                            <h4 class="footer-widget-title text--white">Liên hệ</h4>
                            <ul class="info-contact">
                                <li title="Phone Number">
                                    <span class="fal fa-phone info-icon"></span>
                                    <span class="info">+84929526624</span>
                                </li>
                                <li title="Skype">
                                    <span class="fab fa-skype info-icon"></span>
                                    <span class="info">anonymous.dn9x</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-footer" style="margin-bottom:40px">
                            <h4 class="footer-widget-title text--white" style="line-height:unset !important">Fanpage</h4>
                            <h5 class="footer-widget-title text--white" style="line-height:unset !important; font-size:15px; margin-bottom:20px">Join Us on Facebook</h5>
                            <div class="fb-page" data-href="https://www.facebook.com/ com/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/ com/" class="fb-xfbml-parse-ignore">
                                    <a href="https://www.facebook.com/ com/"></a>
                                </blockquote>
                            </div>
                            <div class="info-footer" style="margin-top:50px"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="div_pageview_realtime" class="text--white" style="font-size:28px; font-weight:600">0</div>
                                    <p>Tổng lượt xem</p>
                                </div>
                                <div class="col-md-6">
                                    <div id="div_online_realtime" class="text--white" style="font-size:28px; font-weight:600">0</div>
                                    <p>Online</p>
                                </div>
                            </div>
                        </div>
                        <div class="newsletter">
                            <h4 class="footer-widget-title text--white">Mạng xã hội</h4>
                            <p>Theo dõi các mạng xã hội để có được những thông tin mới nhất</p>
                            <div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fab fa-pinterest-p"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fab fa-linkedin-in"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mini-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <p>
                                Copyrights © 2014 - 2022. All rights reserved by <a href="/"></a>
                            </p>
                        </div>
                        <div class="go_top">
                            <span class="fal fa-angle-up"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="go_top">
        <span class="fal fa-chevron-up"></span>
    </div>

    <div id="fb-root"></div>

    <div class="right-side-chatbox d-none d-md-block animated swing">
        <div class="btn-avatar-chatbox"></div>
    </div>
    <div class="chatbox closed">
        <div class="chatbox__header">
            <div class="chatbox__headerText">
                Chatbox <div class="chatbox__onlineDot"></div>
            </div>
            <span class="fal fa-times close_chatbox" onclick="if (!window.__cfRLUnblockHandlers) return false; CloseChatBox(event)" data-cf-modified-9f3c2959f0977397d2b413b8-=""></span>
            <span class="fas fa-question-circle" style="right:13px; position:absolute; cursor:pointer" onclick="if (!window.__cfRLUnblockHandlers) return false; window.open('https://youtu.be/6owo4W-WgKM', '_blank');" data-cf-modified-9f3c2959f0977397d2b413b8-=""></span>
        </div>
        <div class="chatbox__body">
            <div class="chatbox__messages"></div>
            <div class="chatbox__inputPanel">
                <div id="chatbox__tag"></div>
                <input placeholder="Aa" class="chatbox__input" autocomplete="nope" />
            </div>
        </div>
    </div>

</body>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

@code {
    private string currentUrl;
    List<eShopShare.Models.BreadcrumbLink> breadcrumbLinks = new List<BreadcrumbLink>();

    protected override void OnParametersSet()
    {
        breadcrumbLinks = new List<eShopShare.Models.BreadcrumbLink>();
        currentUrl = NavigationManager.Uri;
        var myUrl = currentUrl.Replace(NavigationManager.BaseUri, "");
        breadcrumbLinks.Add(new BreadcrumbLink
            {
                Address = NavigationManager.BaseUri,
                IsActive = NavigationManager.Uri == NavigationManager.BaseUri,
                OrderIndex = 1,
                Title = "Home"
            });
        var path = myUrl.Split('/');
        var count = 1;

        foreach (var link in path)
        {
            if (link == "") continue;
            count++;
            var lastLink = breadcrumbLinks.Last();
            breadcrumbLinks.Add(new BreadcrumbLink
                {
                    Address = $"{lastLink.Address}/{link}",
                    IsActive = link == path.Last(),
                    OrderIndex = count,
                    Title = link
                });
        }
        base.OnParametersSet();
    }
    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        await auth.GetAuthenticationStateAsync();        
    }
}